
.gradio_wrapper .gradio_bg[is_embedded=false] .gradio_page .footer {
    display:none;
}
.dark .gradio_wrapper .gradio_page .article{
    align-items: center;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
    color: #fff
}
.gradio_wrapper .gradio_bg b, .gradio_wrapper .gradio_bg strong {
    font-weight: bolder;
    color: #DB8962;
}
.gradio_wrapper .gradio_bg b, .gradio_wrapper .gradio_bg a{
    font-weight:normal;
}
.gradio_wrapper .gradio_page .title {
    color:#DB8962;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
}